doctype html
html
  head
    meta(charset='utf-8')
  body
    include ../templates/header.jade    
    div
      form(action=`/member/login?redirect=${redirect}` method='post')
        input(type='text' name='mb_email' placeholder='Email...')
        br
        input(type='password' name='mb_pwd' placeholder='Password...' id='mb_pwd')
        br
        input(type='submit' value='로그인')
        div= message
      
    
    include ../templates/footer.jade
      
